/exerciciowhile1/nbproject/private/
/exerciciowhile1/build/
/exerciciowhile2/nbproject/private/
/exerciciowhile2/build/
/exerciciowhile3/nbproject/private/
/exerciciowhile3/build/
/exerciciowhile4/nbproject/private/
/exerciciowhile4/build/
/exerciciowhile5/nbproject/private/
/exerciciowhile5/build/
/exerciciowhile6/nbproject/private/
/exerciciomenu/nbproject/private/
/exerciciomenu/build/
/Orientacao/nbproject/private/
/Orientacao/build/
/Calculadora/nbproject/private/
/Calculadora/build/
/CarraraEscola/nbproject/private/
/CarraraEscolaCarrara/nbproject/private/